#trust {
  text-align: center;
  padding: 8vw;
}

#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trust .trust-img img {
  width: 90px;
  height: auto;
}

/*
/*About at Footer*/
/* #about-container {
    padding: 8vw 4vw 2vw 4vw;
}

#about-container .about-img {
    padding-right: 30px;
}

#trust .trust-img img{
    width: 50px;
    height: auto;
} */

/*About at media*/
/* #about-container {
    flex-direction: column-reverse;
}
#about-container .about-img{
    width: 100%;
    padding-right: 0px;
}
#about-container .about-text{
    width: 100%;
    padding-bottom: 20px;
} */
