@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@160;200;300;400;500;600;700;800;900&display=swap
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins', sans-serif;
}


/* Global Tags */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85):
}

span {
    font-sizes: .9rem;
    color: #757373ï¼›
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49):
}
